@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  kbd > button {
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
  }
}

.header {
  grid-template-areas: "github logo replay";
  grid-template-columns: 1fr 1fr 1fr;
}

.github {
  grid-area: github;
}

.logo {
  grid-area: logo;
}

.replay {
  grid-area: replay;
}

.flip {
  animation: flip 500ms ease-in forwards;
}

.scale {
  animation: scale 80ms ease forwards;
}

.shake {
  animation: shake 150ms linear forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
